@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rich-black-1: hsl(219, 32%, 10%);
  --rich-black-2: hsl(222, 25%, 10%);
  --oxford-blue-1: hsla(218, 39%, 14%, 0.8);
  --oxford-blue-2: hsl(218, 39%, 14%);
  --off-white: hsl(0, 0%, 88%);
  --yellow: hsl(45, 100%, 54%);
}

body {
  background: var(--rich-black-1);
  color: white;
}

@layer utilities {
  input {
    @apply bg-[var(--rich-black-2)];
  }
}

.mytext {
  overflow: hidden;
  line-height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--yellow);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.dot {
  height: 10px;
  margin-left: 3px;
  width: 10px;
  background-color: var(--oxford-blue-2);
  border-radius: 50%;
  display: inline-block;
}
